body {
	padding: 20px;
	margin: 0px;
	background-color: black;
}

#centerdiv {
	background-color: #C0C0C0;
	width: 800px;
	height: 700px;
	margin: auto;
	float: center;
	border: 2px solid black;
	border-radius: 15px;
	box-shadow: 10px 10px 5px grey;
	padding: 30px;
}

#turn {
	background-color: #C0C0C0;
	width: 800px;
	height: 60px;
	margin: auto;
	float: center;
	border: 2px solid black;
	border-radius: 15px;
	box-shadow: 10px 10px 5px grey;
	padding: 30px;
}

h1 {
	margin: 0px;
}

div {
	background-color: orange;
	width: 105px;
	height: 105px;
	border: 2px solid black;
	float: left;
	margin: 1px;
}